<section class="poll-card">
    <header class="poll-card-header">
        <div><a href="/poll/{{id}}">{{poll_title}}</a></div>
        <div>by <a href="#">{{user.username}}</a></div> {{!-- Need user profile link here --}}
    </header>
    <section class="poll-card-desc">
        <a href="/poll/{{id}}">
            <div>
                {{poll_desc}}
                <canvas id="chart-{{id}}"></canvas>
                <div style="display:none">
                    <input type="hidden" name="poll-id" value="{{id}}" />
                    <input type="hidden" name="poll-title" value="{{poll_title}}" />
                    <textarea hidden name="poll-content">
                        {{#each poll_options as |option|}}
{{option.name}}:{{option.count}}
                        {{/each}}
                    </textarea>
                </div>
                <span style="color:coral; font-weight:bold;">Click here to vote!</span>
            </div>
        </a>
    </section>
</section>
