<section>
<h1>Poll: {{poll.poll_title}} - Made by: {{poll.user.username}}</h1>
<h2>Share code: {{poll.id}}</h2>
<section>
    {{poll.poll_desc}}
</section>

<div style="width:50%; margin:0px auto">
    <input type="hidden" name="poll-title" value="{{poll.poll_title}}" />
    <textarea hidden name="poll-content">
        {{#each poll.poll_options as |option|}}
{{option.name}}:{{option.count}}
        {{/each}}
    </textarea>
    <canvas id="chart"></canvas>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/poll.js"></script>